{% extends 'base.html.twig' %}

{% block title %}Modification compte | QuickEat{% endblock %}

{% block body %}
    <div class="container mt-4 mb-3">
        <form method="post" action="" enctype="multipart/form-data">
            <div class="d-flex justify-content-center shadow p-3 my-5 bg-warning rounded">
                <h1>Modifications</h1>
            </div>
            {{ form_row(formaccount._token) }}
            <div class="row">
                <div class="col-md-6">{{ form_row(formaccount.email) }}</div>
                <div class="col-md-6">{{ form_row(formaccount.phoneNumber) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">{{ form_row(formaccount.localisation.number) }}</div>
                <div class="col-md-6">{{ form_row(formaccount.localisation.address) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4">{{ form_row(formaccount.localisation.city) }}</div>
                <div class="col-md-4">{{ form_row(formaccount.localisation.postalCode) }}</div>
                <div class="col-md-4">{{ form_row(formaccount.localisation.country) }}</div>
            </div>
            <div class="col d-flex justify-content-end">
                <button class="btn btn-primary">Enregistrer modifications</button>
            </div>
        </form>
    </div>
{% endblock %}
